<div class="movie">
  <h2><%= @movie.title %></h2>
  <p><%= "#{@movie.length} min." %></p>
</div>
<div class="screenings">
  <% @screenings.each do |screening| %>
    <%= button_to "#{screening.start_time.strftime("%d/%m/%Y %H:%M")}" %>
  <% end %>
</div>
