<div class="px-4 py-5 my-5 text-center text-bg-secondary p-3">
  <p></p>
  <h1 class="display-5 fw-bold mt-4">MONTE CINEMA</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4"></p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <% if !user_signed_in?%>
        <%= link_to "Sign up!",  new_user_registration_path, class: "btn btn-primary btn-lg px-4 gap-3" %>
      <%end%>
    </div>
  </div>
</div>
